*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Sofia', sans-serif;
    --ff-secondary: "Sofia", sans-serif;

  
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #007EBD;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    width: 100%;
    height: 100vh;
}

section {
    padding: 5em 2em;
}

.intro__img,
.about-me__img{
    border-radius: 10px;
    
}

img {
    display: block;
    max-width: 100%;
    
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 10px;
}

.btn:hover {
    transform: scale(1.1);
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.dark-mode {
    background-color: black;
    color: white;
  }
  button{
    align-items: center;
    margin: auto 0;
    border: none;
  }
  


  

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    border-radius: 2em;
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    
}



.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo img {
    max-width: 100px;
    border-radius: 6rem;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}






.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}



/*  My services section  */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(./images/work-background.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}


.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Work */

.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
    border-radius: 2em; 
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}
/* Skills  */

.section__title--skills{
    /* background-color: var(--clr-dark); */
    text-align: center;
}

.my-skills{
    /* background:linear-gradient(to right, #0f1a9b 20%,#a70a56 30%,#41a70a 40%,#1f1b1d 50%) ; */
    border-radius: 10px;
    /* background-image: url(./images/video.mp4); */
}

.skills-bar {
    width: auto;
    background: inherit;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    align-items: center;
    color: whitesmoke;
    margin-left: 10%;
    margin-right:10%;
    border-radius: 10px;
    padding: 25px 30px;
    height: 50px;
}

.skills-bar .bars {
    margin: 20px 0;
}

.skills-bar .bars:first-child{
    margin-top: 0px;
}

.skills-bar .bars .info span {
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
    100%{
        opacity: 1;
    }

}



.skills-bar .bars .info{
    margin-bottom: 5px;
}

.skills-bar .bars .progressive-line{
    position: relative;
    height: 10px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
                    0px 1px  rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1)forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);

    }

}

.bars .progressive-line.html span{
    height: 100%;
    width: 70%;
    background: linear-gradient(to right, #e34c26 10%,#f06529 45%, #000 85%);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}
.bars .progressive-line.css span{
    height: 100%;
    width: 80%;
    background: linear-gradient(to right, #264de4 10%,#2965f1 45%, #ebebeb 85%);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}
.bars .progressive-line.js span{
    height: 100%;
    width: 70%;
    background: linear-gradient(to right, #F0DB4F 40%,#323330 85%);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}

.bars .progressive-line.git span{
    height: 100%;
    width: 55%;
    background: linear-gradient(to right, #171515 40%,#121111 85%);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}

.bars .progressive-line.bootstrap span{
    height: 100%;
    width: 60%;
    background: linear-gradient(to right, #080135 50%,#602C50 60%);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}
.bars .progressive-line.fig span{
    height: 100%;
    width: 80%;
    background: linear-gradient(to right, #0f1a9b 20%,#a70a56 30%,#41a70a 40%,#1f1b1d 50%,#0aa78f 60%);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}

.bars .progressive-line.py span{
    height: 100%;
    width: 40%;
    background: linear-gradient(to right, #4B8BBE 20%,#306998 30%,#FFE873 40%,#FFD43B 50%,#646464 90%);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}
.bars .progressive-line.rs span{
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, #7cc5d9 20%,#88dded 30%,#1c2c4c 40%,#4c768d 50%,#b4b7be 60%,#242443 70%);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}



.progressive-line.fig span{
   width: 80%;
}
.progressive-line.html span{
   width: 70%;
}
.progressive-line.py span{
    width: 40%;
}
.progressive-line.js span{
    width: 70%;
}
.progressive-line.bootstrap span{
    width: 60%;
}
.progressive-line.css span{
    width: 80%;
}
.progressive-line.git span{
    width: 55%;
}
.progressive-line.rs span{
    width: 50%;
}

.bars .progressive-line span::before{
    position: absolute;
    right: 0;
    top: -10px;
    content:"";
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bars .progressive-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    background: #000;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px ;
    border-radius: 4px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
    100%{
        opacity: 1;
    }
    
}

.progressive-line.fig span::after{
    content: '80%';
 }
 .progressive-line.html span::after{
    content: '70%';
 }
 .progressive-line.py span::after{
     content: '40%';
 }
 .progressive-line.js span::after{
     content: '70%';
 }
 .progressive-line.bootstrap span::after{
    content: '60%';
 }
 .progressive-line.css span::after{
     content: '80%';
 }
 .progressive-line.git span::after{
     content: '55%';
 }
 .progressive-line.rs span::after{
     content: '50%';
 }




/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}


/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


@media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: white;
    }
  }


  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .bounce {
    animation-name: bounce;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: ease-in-out;
  }


  /* form */

.contact-form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.contact-container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    background-color: #0aa78f;
    box-shadow: 0 0 0 1rem;
    border-radius: 0.1rem;
    overflow: hidden;
}


.form-container{
    padding: 20px;

}

.form-container h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-form{
    display: grid;
    row-gap: 1rem;
}

.contact-form input,.contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background: #01111a;
    font-size: 1rem;
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
}


.contact-form textarea{
    resize: none;
    height: 200px;
}

.contact-form .send-button{
    border: none;
    background: #007EBD;
    font-size: 25px;
    font-weight: 500px;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form .send-button:hover{
    background: #080135;
    transition: 0.5s all linear;

}


.map iframe{
    width: 100%;
    height: 100%;

}

@media(max-width:960px){
    .contact-container{
        margin: 0 auto;
        width: 90%;

    }
}


@media(max-width:700px){
    .contact-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20rem !important;
    }

    .map iframe{
        height: 400px;
    }
}
