
.readme-img{
  align-items: center;
  border-radius: 20px;
}

.source{
  border: none;
  margin-top: 15px;
  text-align: center;
}

.click{
  color: red;
  text-align: center;
}

a{
  text-decoration: none;
  text-align: center;
}

h4{
  text-align: center;
}

.scroll{
  position: fixed;
  background-color: #080135;
  color: #fff;
  bottom: 10px;
  right: 30px;
  padding: 10px;
  border-radius: 55px;
  cursor: pointer;
  opacity: 70%;
  z-index: 99;
  font-size: 30px;
  align-items: center;

}

.scroll:hover{
  background-color: #0aa78f;
  border: none;
}
